/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080808;
    color: #333;
}

/* Header Styles */
header {
    background-color: #ff6666;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 5px 0;
}

/* Navigation Styles */
nav {
    background-color: #ebdf32;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 50px ;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-optical-sizing: auto;
}

nav   a:hover {
    color: #333;
}
/* Main Content Styles */
main {
    padding: 20px;
    width: 100%;
    
}

/* Info Section Styles */
.info-section {
    background-color: #a8a8a8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px; 
}

/* Ingredients and Image Section with Floats */
.ingredients-section {
    margin-bottom: 20px;
    
}

.ingredients {
    width: 48%;
    float: left;
    padding-left: 20px;
}

.ingredients ul {
    list-style-type: none;
    padding-left: 0px;
}



/* Clearfix for Floating Elements */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Recipe Section Styles */
.recipe-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.recipe-section ol {
    padding-left: 20px;
}
#nnn{
    box-shadow: 12px 8px 20px rgb(46, 46, 206);
}
img{
    filter: grayscale(100%);
}
img:hover{
    filter: grayscale(0%);
}


/* Center Text in Find More Recipes Section */
.text-center {
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #c31616;
    padding: 10px;
    text-align: center;
    float: inline-end;
    width: 100%;
}

footer p {
    margin: 0;
}